<a href="https://colab.research.google.com/github/nevesle/Learning-Python/blob/main/Pandas%3F.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Drop duplicate store/type combinations
store_types = sales.drop_duplicates(subset=['store', 'type'])
print(store_types.head())

# Drop duplicate store/department combinations
store_depts = sales.drop_duplicates(subset=['store', 'department'])
print(store_depts.head())

# Subset the rows where is_holiday is True and drop duplicate dates
holiday_dates = sales[sales['is_holiday']].drop_duplicates(subset = 'date')

# Print date col of holiday_dates
print(holiday_dates['date'])

In [ ]:
dogs.groupby('color').agg(['min', 'max', 'mean'])

In [ ]:
# Count the number of stores of each type
store_counts = store_types['type'].value_counts(sort = True)
print(store_counts)

# Get the proportion of stores of each type
store_props = store_types['type'].value_counts(sort = True,normalize = True)
print(store_props)

# Count the number of each department number and sort
dept_counts_sorted = store_depts['department'].value_counts(sort = True)
print(dept_counts_sorted)

# Get the proportion of departments of each number and sort
dept_props_sorted = store_depts['department'].value_counts(sort=True, normalize=True)
print(dept_props_sorted)

In [ ]:
import pandas as pd

In [ ]:
train_csv = pd.read_csv('/content/sample_data/california_housing_train.csv')

In [ ]:
train_csv.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [ ]:
train_csv.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000
mean,-119.562108,35.625225,28.589353,2643.664412,539.410824,1429.573941,501.221941,3.883578,207300.912353
std,2.005166,2.137340,12.586937,2179.947071,421.499452,1147.852959,384.520841,1.908157,115983.764387
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.790000,33.930000,18.000000,1462.000000,297.000000,790.000000,282.000000,2.566375,119400.000000
50%,-118.490000,34.250000,29.000000,2127.000000,434.000000,1167.000000,409.000000,3.544600,180400.000000
75%,-118.000000,37.720000,37.000000,3151.250000,648.250000,1721.000000,605.250000,4.767000,265000.000000
max,-114.310000,41.950000,52.000000,37937.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [ ]:
train_csv.shape

(17000, 9)

In [ ]:
train_csv.groupby(['longitude', 'latitude']).agg(['min', 'max'])

                   housing_median_age       total_rooms          \
                                  min   max         min     max
longitude latitude
-124.35   40.54                  52.0  52.0      1820.0  1820.0
-124.30   41.80                  19.0  19.0      2672.0  2672.0
          41.84                  17.0  17.0      2677.0  2677.0
-124.27   40.69                  36.0  36.0      2349.0  2349.0
-124.26   40.58                  52.0  52.0      2217.0  2217.0
...                               ...   ...         ...     ...
-114.57   33.57                  20.0  20.0      1454.0  1454.0
          33.64                  14.0  14.0      1501.0  1501.0
-114.56   33.69                  17.0  17.0       720.0   720.0
-114.47   34.40                  19.0  19.0      7650.0  7650.0
-114.31   34.19                  15.0  15.0      5612.0  5612.0

                   total_bedrooms         population         households  \
                              min     max        min     max        min
longitude latitude
-124.35   40.54             300.0   300.0      806.0   806.0      270.0
-124.30   41.80             552.0   552.0     1298.0  1298.0      478.0
          41.84             531.0   531.0     1244.0  1244.0      456.0
-124.27   40.69             528.0   528.0     1194.0  1194.0      465.0
-124.26   40.58             394.0   394.0      907.0   907.0      369.0
...                           ...     ...        ...     ...        ...
-114.57   33.57             326.0   326.0      624.0   624.0      262.0
          33.64             337.0   337.0      515.0   515.0      226.0
-114.56   33.69             174.0   174.0      333.0   333.0      117.0
-114.47   34.40            1901.0  1901.0     1129.0  1129.0      463.0
-114.31   34.19            1283.0  1283.0     1015.0  1015.0      472.0

                          median_income         median_house_value
                      max           min     max                min       max
longitude latitude
-124.35   40.54     270.0        3.0147  3.0147            94600.0   94600.0
-124.30   41.80     478.0        1.9797  1.9797            85800.0   85800.0
          41.84     456.0        3.0313  3.0313           103600.0  103600.0
-124.27   40.69     465.0        2.5179  2.5179            79000.0   79000.0
-124.26   40.58     369.0        2.3571  2.3571           111400.0  111400.0
...                   ...           ...     ...                ...       ...
-114.57   33.57     262.0        1.9250  1.9250            65500.0   65500.0
          33.64     226.0        3.1917  3.1917            73400.0   73400.0
-114.56   33.69     117.0        1.6509  1.6509            85700.0   85700.0
-114.47   34.40     463.0        1.8200  1.8200            80100.0   80100.0
-114.31   34.19     472.0        1.4936  1.4936            66900.0   66900.0

[11054 rows x 14 columns]

In [ ]:
train_csv['longitude'].unique()

In [ ]:
train_csv['longitude'].nunique()

827

In [ ]:
from numpy import median
train_csv.groupby(['longitude', 'latitude'])[['total_rooms', 'total_bedrooms']].agg([min, max, sum, median])

                   total_rooms                         total_bedrooms          \
                           min     max     sum  median            min     max
longitude latitude
-124.35   40.54         1820.0  1820.0  1820.0  1820.0          300.0   300.0
-124.30   41.80         2672.0  2672.0  2672.0  2672.0          552.0   552.0
          41.84         2677.0  2677.0  2677.0  2677.0          531.0   531.0
-124.27   40.69         2349.0  2349.0  2349.0  2349.0          528.0   528.0
-124.26   40.58         2217.0  2217.0  2217.0  2217.0          394.0   394.0
...                        ...     ...     ...     ...            ...     ...
-114.57   33.57         1454.0  1454.0  1454.0  1454.0          326.0   326.0
          33.64         1501.0  1501.0  1501.0  1501.0          337.0   337.0
-114.56   33.69          720.0   720.0   720.0   720.0          174.0   174.0
-114.47   34.40         7650.0  7650.0  7650.0  7650.0         1901.0  1901.0
-114.31   34.19         5612.0  5612.0  5612.0  5612.0         1283.0  1283.0


                       sum  median
longitude latitude
-124.35   40.54      300.0   300.0
-124.30   41.80      552.0   552.0
          41.84      531.0   531.0
-124.27   40.69      528.0   528.0
-124.26   40.58      394.0   394.0
...                    ...     ...
-114.57   33.57      326.0   326.0
          33.64      337.0   337.0
-114.56   33.69      174.0   174.0
-114.47   34.40     1901.0  1901.0
-114.31   34.19     1283.0  1283.0

[11054 rows x 8 columns]

In [ ]:
import numpy as np

In [ ]:
train_csv.pivot_table(values = 'total_rooms', index = 'longitude', columns = 'latitude', aggfunc =[np.mean, np.median], fill_value = 0, margins= True )

           mean                                                               \
latitude  32.54        32.55        32.56        32.57    32.58        32.59
longitude
-124.35       0     0.000000     0.000000     0.000000     0.00     0.000000
-124.3        0     0.000000     0.000000     0.000000     0.00     0.000000
-124.27       0     0.000000     0.000000     0.000000     0.00     0.000000
-124.26       0     0.000000     0.000000     0.000000     0.00     0.000000
-124.25       0     0.000000     0.000000     0.000000     0.00     0.000000
...         ...          ...          ...          ...      ...          ...
-114.57       0     0.000000     0.000000     0.000000     0.00     0.000000
-114.56       0     0.000000     0.000000     0.000000     0.00     0.000000
-114.47       0     0.000000     0.000000     0.000000     0.00     0.000000
-114.31       0     0.000000     0.000000     0.000000     0.00     0.000000
All         938  3987.333333  2222.444444  2350.538462  2156.95  2223.777778

                                                ... median                \
latitude     32.6   32.61   32.62        32.63  ...  41.78 41.79    41.8
longitude                                       ...
-124.35       0.0     0.0     0.0     0.000000  ...      0     0     0.0
-124.3        0.0     0.0     0.0     0.000000  ...      0     0  2672.0
-124.27       0.0     0.0     0.0     0.000000  ...      0     0     0.0
-124.26       0.0     0.0     0.0     0.000000  ...      0     0     0.0
-124.25       0.0     0.0     0.0     0.000000  ...      0     0     0.0
...           ...     ...     ...          ...  ...    ...   ...     ...
-114.57       0.0     0.0     0.0     0.000000  ...      0     0     0.0
-114.56       0.0     0.0     0.0     0.000000  ...      0     0     0.0
-114.47       0.0     0.0     0.0     0.000000  ...      0     0     0.0
-114.31       0.0     0.0     0.0     0.000000  ...      0     0     0.0
All        2910.0  2767.0  2612.1  2943.777778  ...   3140  1355  2306.5


latitude  41.81 41.82 41.84 41.86 41.88   41.95     All
longitude
-124.35       0     0     0     0     0     0.0  1820.0
-124.3        0     0  2677     0     0     0.0  2674.5
-124.27       0     0     0     0     0     0.0  2349.0
-124.26       0     0     0     0     0     0.0  2217.0
-124.25       0     0     0     0     0     0.0  1430.0
...         ...   ...   ...   ...   ...     ...     ...
-114.57       0     0     0     0     0     0.0  1477.5
-114.56       0     0     0     0     0     0.0   720.0
-114.47       0     0     0     0     0     0.0  7650.0
-114.31       0     0     0     0     0     0.0  5612.0
All        2838  1367  2677  3599  1504  2281.5  2127.0

[828 rows x 1682 columns]

Pivot tables are sorted already